.confirm-approval-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.confirm-approval-thq-confirm-approval-elm {
  width: 1067px;
  height: 870px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 0.44999998807907104);
}
 
.confirm-approval-thq-text-elm1 {
  top: 91px;
  left: 308px;
  color: rgba(240, 90, 34, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 800;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
 
.confirm-approval-thq-text-elm2 {
  top: 187px;
  left: 52px;
  color: rgba(20, 78, 140, 1);
  width: 288px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto Condensed;
  font-weight: 800;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
 
.confirm-approval-thq-button-cookies-elm1 {
  top: 743px;
  left: 242px;
  width: 266.9440002441406px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(240, 90, 34, 1);
}
 
.confirm-approval-thq-text-elm3 {
  top: 16px;
  left: 62.0799560546875px;
  color: rgba(255, 255, 255, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.confirm-approval-thq-button-cookies-elm2 {
  top: 744px;
  left: 567.9443359375px;
  width: 256.0799865722656px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.confirm-approval-thq-rectangle40-elm {
  top: 0px;
  left: -0.0001220703125px;
  width: 256px;
  height: 69px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
}
 
.confirm-approval-thq-text-elm4 {
  top: 15px;
  left: 60.5281982421875px;
  color: rgba(255, 255, 255, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.confirm-approval-thq-rectangle54-elm {
  top: 173px;
  left: 354px;
  width: 664px;
  height: 77px;
  position: absolute;
  border-radius: 20px;
}
 
.confirm-approval-thq-rectangle55-elm {
  top: 276px;
  left: 354px;
  width: 664px;
  height: 432px;
  position: absolute;
  border-radius: 20px;
}
 
.confirm-approval-thq-text-elm5 {
  top: 276px;
  left: 52px;
  color: rgba(20, 78, 140, 1);
  width: 257px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto Condensed;
  font-weight: 800;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
 
.confirm-approval-thq-button1-elm {
  top: 52px;
  left: 964px;
  width: 54px;
  height: 54px;
  position: absolute;
}
 
.confirm-approval-link {
  display: contents;
}
 
.confirm-approval-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.confirm-approval-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.confirm-approval-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
