.frame-minh-anh-mentee-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.frame-minh-anh-mentee-thq-dummy-container-elm {
  width: 100%;
  height: 900px;
}
 
.frame-minh-anh-mentee-thq-text-elm {
  color: rgba(84, 77, 77, 1);
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto Condensed;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame-minh-anh-mentee-link {
  display: contents;
}
 
.frame-minh-anh-mentee-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.frame-minh-anh-mentee-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.frame-minh-anh-mentee-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
