.group26-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.group26-thq-group26-elm {
  width: 1067px;
  height: 566px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 0.44999998807907104);
}
 
.group26-thq-text-elm1 {
  top: 282px;
  left: 307px;
  color: rgba(240, 90, 34, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 800;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
 
.group26-thq-text-elm2 {
  top: 351px;
  left: 221px;
  color: rgba(20, 78, 140, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Roboto;
  font-weight: 800;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
 
.group26-thq-group25-elm {
  top: 23px;
  left: 432px;
  width: 204px;
  height: 204px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.group26-thq-ellipse9-elm {
  top: 15px;
  left: 23px;
  width: 160px;
  height: 168px;
  position: absolute;
}
 
.group26-thq-check1-elm {
  top: 0px;
  left: 0px;
  width: 204px;
  height: 204px;
  position: absolute;
}
 
.group26-thq-button2-elm {
  top: 38px;
  left: 963px;
  width: 54px;
  height: 54px;
  position: absolute;
}
 
.group26-link {
  display: contents;
}
 
.group26-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.group26-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.group26-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
